/* font-family: 'Inter', sans-serif;
font-family: 'Karla', sans-serif; */

body {
    margin: 0; 
    font-family: 'Inter', sans-serif;
    color: #fff;
}

.container {
    width: 550px;
    height: 550px;
    background: #1F2937;
    margin: 0 auto;
    color: #fff;
    border: 2px solid white;
}   

h1 {
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-style: normal;
    font-weight: 800;
    margin-top: 40px;
    margin-bottom: 0;
}

h3 {
    color: #D5D4D8;
    font-size: 20px;
    line-height: 28px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 50px;
}

#generate-btn {
    display: inline;
    background: #10B981;
    color: #ffffff;
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 12px 17px 12px 17px;
    border-radius: 6px;
    border: none;
}

#main {

    padding-top: 50px;
    padding-left: 50px;   
    /* padding-right: 50px;  
    /* border: 2px solid white; */
}

#color-green {
    color: #4ADF86;
}

rect {    
    fill:#273549;    
}

#line {
    border-bottom: 1px solid #2F3E53;
    margin-top: 40px;
    margin-bottom: 30px;
    width: 446px;
}

#pw-one,
#pw-two {
    fill: #55F991;   
    font-family: 'inter' sans-serif;
    font-size: 16px;
}
